<!-- contentWrapper -->
</div>  

<footer>
    <div id="footerWrapper">
        <section>
            <h2><i class="fa-solid fa-cubes-stacked"></i> Mötes Klubben</h2>
            <p>Klubben startade 2019</p>
        </section>
        <section>
            <h2>Kontakt info</h2>
            <p>
                Stenvändan 30<br>
                143 72 Stockholm<br><br>
                073 - 044 76 31
            </p>
        </section>
        <section>
            <h2>Sociala medier</h2>
            <p>
                <a href="#">
                    Facebook
                </a>
                <br>
                <a href="#">
                    Instagram
                </a>
                <br>
            </p>
        </section>
    </div>
</footer>

<!-- pageWrapper -->
</div> 

</body>
</html>