
<body>
    <div id="pageWrapper">

    <header>
        <div id="headerWrapper">
            <h1><i class="fa-solid fa-cubes-stacked"></i> Mötes Klubben</h1>
            <nav>
                <a href="/">Hem</a>
                <a href="/members">Medlemmar</a>
                <a href="/form" class="important">Bli medlem</a>
            </nav>
        </div>
    </header>

    <div id="contentWrapper">