<%- include('head') %>
<%- include('header') %>

<div class="firstPageDiv">
    <h1 class="firstPageHeading">Välkommen på möte!</h1>
    <p>Vi är en engagerad klubb som samlas regelbundet för att ha intressanta och givande möten om olika ämnen och teman. 
        Vårt mål är att skapa en inspirerande och lärorik miljö där medlemmar kan dela sina tankar, idéer och erfarenheter.</p>
        
    <p>Vår klubb är öppen för alla som är intresserade av att delta i meningsfulla diskussioner och vill utöka sin kunskap inom olika områden. 
    Vi tror på mångfald och välkomnar medlemmar från alla bakgrunder och åldrar. 
    Hos oss får du möjlighet att möta nya människor, utmana dina tankar och bidra till en berikande gemenskap.</p>

    <p>Det är enkelt att bli medlem i vår klubb, allt du behöver göra är att registrera dig via formuläret som du hittar via knappen nedan,
        vi kommer sedan att informera dig om kommande möten och skicka inbjudningar till dig.</p><br>

        <a href="/form" class="important">Bli medlem idag</a>

</div>



<%- include('footer') %>