footer {
    background-color: rgb(20, 56, 20);
    color: white;
    padding: 1rem;
    a {
        color: white;
        text-decoration: none;
        &:hover {
            color:  rgb(255, 219, 141);
        }
    }
}

#footerWrapper {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:2rem;
    
    h2 {
        font-size: 1rem;
        color: white;
    }
    section {
        min-width: 200px;
        @media (width >= 500px){
            max-width: 30%;
        }
    }
    @media (width >= 700px){
        flex-direction: row;
        justify-content: space-between;
    }
}